img {
    border-radius: 50%;
}
.center-box{
    display: flex;
    justify-content: center;
}
body{
    background-color:black;
}
.myname{
    color:bisque ;
    text-align: center;
    font-size: 5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3{
    color:white;
    font-size: 3rem;
}
p{
    color: antiquewhite;
    font-size: 2rem;
    
}
.s{
    display:flex;
    justify-content: space-around;
}